<div class="OuterPage">
    <form class="InnerPage" (ngSubmit)="submitLogin()">
        <img class="logo" src="../../../assets/Udklip.PNG" alt="">
        <div *ngIf="invalidLogin">Invalid username or password.</div>
        <span>
            <!-- <label for="username">Username:</label> -->
            <input placeholder="Username" type="text" id="username" name="username" #userName="ngModel" [(ngModel)]="login.username" required>
        </span>
        <span>
            <!-- <label for="password">Password:</label> -->
            <input  placeholder="Password" type="password" id="password" name="password" #password="ngModel" [(ngModel)]="login.password" required>
        </span>
            <button type="submit">Login</button>
            <a routerLink="/register">Dont have an account yet? <u>click here</u></a>   
    </form>
</div>

