<div class="container">
    <div class="chatColumn">
        <app-chat-select (selectedChat)="onChatSelected($event)" (chatList)="onChatList($event)"#scrollMe></app-chat-select>
    </div>

    <div class="messageColumn">
        <div class="messageColumnRows">
            <div class="messages" >
                <app-messages [chat]="selectedChat" [chatList]="chatList" #scrollMe></app-messages>
            </div>
            <div class="textbox">
                <app-send-message [chat]="selectedChat" ></app-send-message>
            </div>
        </div>
    </div>
</div>