.likeComment{
    display: flex;
}
.CommentsHeader{
    width: 100%;
    display: flex;
    margin-bottom: 1%;
}

.OnHover{
    cursor: pointer;
}

.icon{
    vertical-align: bottom;
    /* color: rgba(78, 72, 72, 0.5); */
    color: rgba(78, 72, 72, 0.5);
}
.interatctive:hover{
    background-color: rgba(78, 72, 72, 0.1);
    outline: rgba(78, 72, 72, 0.4) solid 1px;
    border-radius: 5px;
}

.interatctive{
    margin: auto 15px;
    vertical-align: bottom;
}


.SpecificComment{
    width: auto;
    margin: 2px;
    margin-left: 5%;
    font-weight: 500;
}

.commentContainer{
    
    border: black 1px solid;
}

textarea {
    resize: horizontal;
    overflow: hidden;
    width: 90%;
    min-height: 5vh;
    resize: none;
    
}

.CreateComment{
    margin: 0px 3px 0px 0px;
    height: 40px;
    float: right; 
    width: 9%;
}

.UserName:hover{
    cursor: pointer;
    text-decoration: underline;
    font-weight: bold;
}

.ProfilImg{
    cursor: pointer;
}

