<!-- <app-nav-bar></app-nav-bar> -->
<div class="OuterLayer">
    <div class="image-preview">
        <app-profile-images *ngIf="userId !== 0 || userId !== undefined" [userId]="userId"></app-profile-images>
    </div>
    <div class="profilFeed">
        <span style="display: flex;">
            <img class="MainImg" src="{{user.picture.imageUrl}}" alt="">
            <span style="display: flex; margin-left: 50px; align-items: center;">
                <p>
                    <b>Name:</b> {{user.displayName}}
                    <br>
                    <br>
                    <b>Posts:</b> {{postCount}}
                    <br>
                    <br>
                    <b>TECPoints:</b> {{TECPoints}}
                </p>
            </span>
        </span>
        <div class="postContainer">
            <app-profile-feed (TECPoints)="TECPoints" (postCount)="postCount"></app-profile-feed>
        </div>
    </div>
    <div class="TT">
        Jeppe er dum!
        <app-profile-friends></app-profile-friends>
    </div>
</div>