<!-- <app-nav-bar></app-nav-bar> -->
<div class="OuterLayer">
    <div class="image-preview">
        <app-profile-images *ngIf="postImages.length > 0" [pictures]="postImages"></app-profile-images>
    </div>
    <div class="profilFeed">
        <span style="display: flex;">
            <img class="MainImg" src="{{user.picture.imageUrl}}" alt="">
            <span style="display: flex; margin-left: 50px; align-items: center;">
                <p>
                    <b>Name:</b> {{user.displayName}}
                    <br>
                    <br>
                </p>
            </span>
        </span>
        <div class="postContainer">
            <app-profile-feed></app-profile-feed>
        </div>
    </div>
</div>