.row{
    margin: 0 auto;
}

.column{
    width: 22.5%;
    margin: 5px 1.25%;
    float: left;
    overflow: hidden;
}

.image{
    width: 95%;
    aspect-ratio: 1/1;
    border-radius: 5px;
    margin: 2px;
}

.image:hover{
    cursor: pointer;
    outline: 1px solid black;
}