textarea {
    resize: horizontal;
    overflow: hidden;
    width: 100%;
    min-height: 5vh;
    resize: none;
}

textarea::placeholder{
    padding-left: 10px;
    padding-top: 10px;
    text-align: center;
}

input[type="file"]{
    display: none;
}

.file-upload:hover{
    cursor: pointer;
    background-color: lightgray;
}

.filename{
    margin-left: 10px;
    margin-top: 3px;
    justify-content: center;
}

.filecontainer{
    display: flex;
    width: 100%;
    justify-content: space-between;
}