textarea {
    resize: horizontal;
    overflow: hidden;
    width: 100%;
    min-height: 5vh;
    resize: none;
}

textarea::placeholder{
    padding-left: 10px;
    padding-top: 10px;
    text-align: center;
}