.chatList {
    position: relative;
    /* background-color: #f2f2f2; */
    height: auto;
    width: auto;
    /* outline: 1px solid grey; */
    padding-top: 5px;
    padding-bottom: 5px;
}

.chatList > div{
    display: flex;
    flex-direction: row;
    float: left;
    width: 100%;
    gap: 5%;
    align-items: center;
}

.chatList > div > p{
    /* margin-top: 20px; */
}

.chat {
    font-size: x-large;
}

.selected {
    padding: 4px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    background-color: #d3d7d8;
    /* Set the background color for the selected chat */
}

textarea {
    resize: horizontal;
    overflow: hidden;
    width: 100%;
    min-height: 30px;
}

img{    
    height: 50px;
    width: 50px;
    min-height: 50px;
    min-width: 50px;
    border-radius: 50%;
}


.Texts{
    margin: 0;
    font-weight: bold;
    font-size: 0.8rem;
}

.privateOrGroup{
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 0.5rem;
}

.lastMessage{
    position: absolute;
    right: 10px;
    top: 25px;
    font-size: 0.6rem;
}

.chatSelect:hover{
    background-color: #d3d7d8;
    border-radius: 10px;
}