.OuterLayer{
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}

.posts{
    /* background: red; */
    outline: 2px solid black;
    margin: 13px;
}
.ProfilImg{
    margin-right: 15px;
}

.MainImg{
    cursor: pointer;
    border: solid 2px black;
    width: 15vw;
    height: 15vw;
    margin-left: 5px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

p{
    margin: 0px;
}

.Content{
    /* background-color: yellow; */
    margin: 5px 1%;
    min-height: 5vh;    
    border: 2px rgba(0, 0, 0, 0.5) solid;
    display: flex;
}

.Content > p{
    margin: 10px;   
}

.likeContent{
    margin: 5px 1%;
    display:flex;
    padding: 1px;
}

.PostHeader{
    width: 100%;
    display: flex;
}

.OnHover{
    cursor: pointer;
    /* background-color: red; */
}

.PostHeader > .PostHeaderInfo{
    width: 60%;
}

.icon{
    vertical-align: bottom;
    /* color: rgba(78, 72, 72, 0.5); */
    color: rgba(78, 72, 72, 0.5);
}
.interatctive:hover{
    background-color: rgba(78, 72, 72, 0.1);
    outline: rgba(78, 72, 72, 0.4) solid 1px;
    border-radius: 5px;
}

.interatctive{
    margin: auto 15px;
    vertical-align: bottom;
}

.PictureContent{
    text-align: center;
    border-bottom: 1px solid black;
}

.PictureContent > img{
    max-width: 450px;
    max-height: 450px;
}

.image-preview{
    margin: 298px 0 0 200px;
    width: 252px;
    height: 252px;
}

.profilFeed{
    width: 800px;
    margin: 0 auto 0 102px;
}
