<!-- <app-nav-bar></app-nav-bar> -->
<div *ngIf="isBlocked">
    <h1 style="text-align: center;vertical-align: middle;line-height: 75vh;">This user has blocked you</h1>
</div>

<div class="OuterLayer" *ngIf="!isBlocked">
    <div class="image-preview">
        <app-profile-images *ngIf="userId !== 0 || userId !== undefined" [userId]="userId"></app-profile-images>
    </div>
    <div class="profilFeed">
        <div>
            <span style="display: flex;">
                <img class="MainImg" src="{{user.picture.imageUrl}}" alt="">
                <span style="display: flex; margin-left: 50px; align-items: center;">
                    <p>
                        <b>Name:</b> {{user.displayName}}
                        <br>
                        <br>
                        <b>Posts:</b> {{postCount}}
                        <br>
                        <br>
                        <b>TECPoints:</b> {{TECPoints}}
                    </p>
                    <button *ngIf="!sentRequestPending && !friends && !hasBlocked && !receivedRequestPending"
                        (click)="sendFriendRequest()">Send Friend Request</button>
                    <button *ngIf="sentRequestPending" (click)="cancelFriendRequest()">Cancel Friend Request</button>
                    <button *ngIf="receivedRequestPending" (click)="acceptFriendRequest()">Accept Friend
                        Request</button>
                    <button *ngIf="!friends && !following && !hasBlocked" (click)="followUser()">Follow</button>
                    <button *ngIf="!friends && following" (click)="unfollowUser()">Unfollow</button>
                    <button *ngIf="!hasBlocked" (click)="blockUser()">Block</button>
                    <button *ngIf="hasBlocked" (click)="unblockUser()">Unblock</button>
                    <button *ngIf="friends" (click)="unfriendUser()">Unfriend</button>
                </span>
            </span>
            <div class="postContainer">
                <div class="posts" *ngFor="let post of posts; let i = index">
                    <app-feed-component [posts]="post" [i]="i"></app-feed-component>
                </div>
            </div>
        </div>
    </div>
    <div class="TT">
        Jimmy er bare ikke sej!
    </div>
</div>