<div style="position: sticky; top:0px; background-color: whitesmoke;">
  <div class="homeFeedHeader" style="background-color: whitesmoke;">
    <img class="LogoImg" routerLink="/login" src="../../../assets/Udklip.PNG" alt="">
    <div class="ContainerSearch">
      <input class="TopSeachBar" type="text" placeholder="Search..">
    </div>
      <span class="settingsProfil">
        <img class="ProfilImg" routerLink="/profil" src="data:image/png;base64,{{user.picture.imageData}}" alt="">
        <mat-icon style="margin-left: 15px;">settings</mat-icon>
      </span>
  </div>
  <div class="divider"></div>
</div>

<div class="feed">
  <span>
    <input id="file" type="file" (change)="fileChange($any($event).target.files)">
  </span>
  <div>
    <button (click)="onUpload()">Upload</button>
  </div>
  <div >
    <h1>User Profile pic:</h1>
    <img  style="width: 35vmin;" src="data:image/png;base64,{{user.picture.imageData}}" />
    <H1 style="font-weight: bolder; font-size: 2rem; height: 5rem;">Casper er du en myre!? eller er du en støvle!?</H1>
  </div>

  <div style="height: 100%;">
    <form (ngSubmit)="onSubmit()" #myForm="ngForm">
      <div>
        <label for="displayName">Display Name: </label>
        <input type="text" id="displayName" name="displayName" #displayName="ngModel" [(ngModel)]="user.displayName"
          required>
      </div>
      <div>
      <label for="email">Email: </label>
        <input type="text" id="email" name="email" #email="ngModel" [(ngModel)]="user.email"
          required>
      </div>
      <div>
        <button type="submit">Save</button>
      </div>
    </form>
  </div>

  <div>
    <h1>CHANGE PASSWORD</h1>
    <form (ngSubmit)="changePassword()" #myForm="ngForm">
      <div>
        <label for="oldPassword">Old Password:</label>
        <input type="password" id="oldPassword" name="oldPassword" #oldPassword="ngModel" [(ngModel)]="tt.oldPassword"
          required>
      </div>
      <div>
        <label for="newPassword">New Password:</label>
        <input type="password" id="newPassword" name="newPassword" #newPassword="ngModel" [(ngModel)]="tt.newPassword"
          required>
      </div>
      <div>
        <button type="submit" [disabled]="myForm.invalid">Save</button>
      </div>
    </form>
  </div>
</div>