.feed{
    /* width: 100px; */
    display:block; 
    margin-left: auto; 
    margin-right: auto; 
    width: 50vw;
    /* max-width: 45vw; */
    min-width: 650px ;
    /* width: 600px; */
    margin-top: 1vh; 
    position: relative;
}

@media only screen and (max-width: 650px) {
    .feed{
        width: 100%;
        min-width: 100%;
    }
  }

.changeFeedButtons{
    width: 100%;
    display: flex;
    justify-content: center;
}

.changeFeedButtons > button{
    margin: 5px 3%;
    width: 100%;
    
}
