   <div class="homeFeed">
        <img class="LogoImg" routerLink="/login" src="../../../assets/Udklip.PNG" alt="">
        <div class="ContainerSearch">
            <input class="TopSeachBar" type="text" placeholder="Search..">
        </div>
        <img class="ProfilImg" src="https://images.unsplash.com/photo-1540573133985-87b6da6d54a9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1176&q=80" alt="">
    </div>
    <div class="divider"></div>

    <div class="feed">
        
    </div>