.bar {
    width: 100%;
    height: 90px;
    white-space: nowrap;
    overflow: hidden;
}

.TopSeachBar {
    width: 300px;
    margin-bottom: 5px;
}

.leave {
    float: right;
}

.add {
    display: inline-block;
}


.button {
    width: 100%;
    padding: 50px 0;
    text-align: center;
    background-color: lightblue;
    margin-top: 20px;
}

.user {
    position: relative;
    display: inline-block;
    align-items: flex-start;
    width: 300px;
    border: black solid 1px;
    cursor: pointer;
    background-color: white;
    height: 100%;    
}

.user.selected {
    background-color: lawngreen;
}

/* .userName {
    float: inline-start;
} */

.user>span {
    display: flex;
    width: 100%;
    margin: 0px;
    align-items: center;
}

.user>img {
    min-width: 64px;
}

.user>button {
    background-color: rgb(145, 145, 255);
    cursor: pointer;
    width: 40%;
}

.search-results>button:hover {
    background-color: rgb(100, 100, 255);
}

.search-results>p {
    width: 100%;
    margin: 0;
}

.SearchResult>ul>li {
    overflow: hidden;
}

.SearchResult {
    /* Grunden til at den er offset lidt, er fordi den tager ikke højde for scrollbaren! det er gør andet */
    display: inline-block;
    position: absolute;
    /* overflow: hidden; */
    /* z-index: 10000; */
    /* width: 100%; */
}