<div>
  <div class="bar">
    <span class="ContainerSearch">
      <input class="TopSeachBar" type="search" placeholder="Name.." [(ngModel)]="search" (input)="onSearchQueryInput($event)">
    </span>
    <button class="leave" (click)="openDialog(chat)">Leave Chat</button>
    <div>
      <div class="SearchResult">
        <ul *ngFor="let user of searchUsers">
          <li [ngClass]="getMessageClasses(user)">
            <span (click)="addToChat(user)">
              <img class="ProfilImg" src="{{user.picture.imageUrl}}">
              <span class="userName">{{user.displayName}}</span>
            </span>
          </li>
        </ul>
        <span *ngIf="showAdd">
          <button (click)="saveChat()">Add</button>
        </span>
        <span *ngIf="showCancel">
          <button (click)="cancelAddToChat()">Cancel</button>
        </span>
      </div>
    </div>
  </div>
</div>