<div class="homeFeed">
    <img class="LogoImg" routerLink="/home" src="../../../assets/Udklip.PNG" alt="">
    <div class="ContainerSearch">
        <input class="TopSeachBar" type="text" placeholder="Search..">
    </div> 
    <span class="settingsProfil">
        <img class="ProfilImg" routerLink="/profil" src="data:image/png;base64," alt="">
        <mat-icon style="margin-left: 15px;">settings</mat-icon>
    </span>
</div>
<div class="divider"></div>
<div class="profil">
    <div class="reklame">

    </div>
    <div class="profilFeed">

    </div>
    <div class="friends">

    </div>
</div>