<div class="postContent">
    <app-post-header [post]="posts"></app-post-header>
    <div class="Content">
        <p>
            {{posts.content}}
        </p>
    </div>
    <div class="PictureContent" *ngIf="posts.pictures.length > 0">
        <a *ngIf="pictureExtensions.includes(fileExtension!)" href="{{posts.pictures[0].imageUrl}}" target="_blank">
            <img src="{{posts.pictures[0].imageUrl}}">
        </a>
        <vg-player style="justify-content: center;" *ngIf="fileExtension === 'mp4' || fileExtension === 'webm'">
            <video [preload]="'metadata'" style="max-width: 400px;" [vgMedia]="$any(media)" #media id="singleVideo" controls>
                <source src="{{posts.pictures[0].imageUrl}}" type="video/mp4">
            </video>
        </vg-player>
    </div>
    <!-- ngIf below is needed, without it the toolbar component renders before data has loaded -->
    <app-post-toolbar *ngIf="posts.postId != 0" [posts]="posts"></app-post-toolbar>
</div>