<div class="postContainer">
    <div class="posts" *ngFor="let post of posts; let i = index">
        <div class="postContent">
            <img class="ProfilImg" src="{{post.user.picture.imageUrl}}" alt="Profile Image">
            <span class="postName">{{post.user.displayName}}</span>
            <span class="groupPost" (click)="goToGroup(post.group.groupId)">{{post.group.groupName}}</span>
            <span class="timeSteamp">{{post.timeStamp | date: 'medium'}}</span>
            <mat-icon (click)="toggleEdit()">edit</mat-icon>
            <div>{{post.content}}</div>
            <textarea></textarea>
            <div >
                <button>Like    {{likeCounter[i]}}</button>
                <button>Dislike {{dislikeCounter[i]}}</button>
                <button (click)="goToFullPost(post.postId)">Comments {{commentCounter[i]}}</button>
            </div>
        </div>
    </div>
</div>