.Container{
    background-color: rgb(226, 226, 226);
    border-top: 1px solid black;
}

.friend{
    border-bottom: 1px solid black;
    height: 80px;
    text-align: center;
    /* line-height: 50px; */
    overflow: hidden;
}

.ProfilImg{
    margin-right: 15px;
    margin-left: 30px;
    width: 56px;
    height: 56px;
    cursor: pointer;
}

.UserName:hover{
    text-decoration: underline;
    cursor: pointer;
    font-weight: bold;
}

.Content > div{
    margin-top: 5px;
    display: flex;
    align-items: center;
    width: 100%;
}

.NoContent {
    position: absolute;
    left: 15%;
    top: 55%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .MessageButton{
    text-align: end;
    margin-top: -42px;
    margin-right: 20px;
  }

  .MessageIcon:hover{
    cursor: pointer;
    background-color: rgb(185, 185, 185);
  }