<div style="position: sticky; z-index: 10000; top:0px; background-color: whitesmoke;">
    <div class="homeFeedHeader" style="background-color: whitesmoke;">
      <img class="LogoImg" routerLink="/home" src="../../../assets/Udklip.PNG" alt="">
      <div class="ContainerSearch">
        <input class="TopSeachBar" type="text" placeholder="Search..">
      </div>
        <span class="settingsProfil">
          <img style="border: 1px solid black;" class="ProfilImg" routerLink="/profil" src="data:image/png;base64,{{user.picture.imageData}}" alt="">
          <span class="Icons">
            <mat-icon routerLink="/settings" style="margin-left: 15px;">settings</mat-icon>
            <mat-icon (click)="logOff()" style="margin-left: 15px;">exit_to_app</mat-icon>
          </span>
        </span>
    </div>
    <div class="divider"></div>
  </div>
  