<div style="position: sticky; z-index: 10000; top:0px; background-color: whitesmoke; position: relative;">
  <div class="homeFeedHeader" style="background-color: whitesmoke; position: sticky">
    <img class="LogoImg" routerLink="/home" src="../../../assets/Udklip.PNG" alt="">
    <div class="ContainerSearch">
      <input class="TopSeachBar" type="search" placeholder="Search.." (input)="onSearchQueryInput($event)">
    </div>
    <span class="settingsProfil">
      <img style="border: 1px solid black;" class="ProfilImg" routerLink="/profil"
        src="{{user.picture.imageUrl}}" alt="">
      <span class="Icons">
        <mat-icon routerLink="/settings" style="margin-left: 15px;">settings</mat-icon>
        <mat-icon (click)="logOff()" style="margin-left: 15px;">exit_to_app</mat-icon>
      </span>
    </span>
  </div>
  <div class="divider"></div>
</div>
<span class="SearchResult">
  <ul *ngFor="let user of searchUsers">
    <li >        
      <span class="search-results" routerLink="/visitingProfil/{{user.userId}}">
        <img class="ProfilImg" src="{{user.picture.imageUrl}}">
        <p>{{user.displayName}}</p>
      </span>
    </li>
  </ul>
</span>





<!-- <div class="SearchResult" *ngFor="let user of searchUsers">
        <span class="search-results" (click)="logOff()">
          <img class="ProfilImg" src="data:image/png;base64,{{user.picture.imageData}}">
          <p>{{user.displayName}}</p>
        </span>
      </div> -->