<div style="position: sticky; z-index: 10000; top:0px; background-color: whitesmoke;">
  <div class="homeFeedHeader" style="background-color: whitesmoke; position: sticky">
    <img class="LogoImg" routerLink="/home" src="../../../assets/Udklip.PNG" alt="">
    <div class="ContainerSearch">
      <input class="TopSeachBar" type="search" placeholder="Search.." (input)="onSearchQueryInput($event)">
    </div>
    <span class="settingsProfil">
      <mat-icon routerLink="/chat">chat</mat-icon>
      <img style="border: 1px solid black;" class="ProfilImg" routerLink="/profil" src="{{user.picture.imageUrl}}" alt="">
      <span class="Icons">
        <div class="NotificationContainer">
          <mat-icon routerLink="/friendrequests" style="margin-left: 15px;">
            notification_important_icon
            <div *ngIf="user.receivedFriendRequests.length > 0" class="notifications"></div>
          </mat-icon>
        </div>
        <mat-icon routerLink="/settings" style="margin-left: 15px;">settings</mat-icon>
        <mat-icon (click)="logOff()" style="margin-left: 15px;">exit_to_app</mat-icon>
      </span>
    </span>
  </div>
  <div class="divider"></div>
</div>
<span class="SearchResult">
  <ul *ngFor="let user of searchUsers">
    <li>
      <span class="search-results" (click)="goToProfile(user.userId)">
        <img class="ProfilImg" src="{{user.picture.imageUrl}}">
        <p>{{user.displayName}}</p>
        <mat-icon class="search-results-icon"
          *ngIf="userId !== user.userId && !sentFriendRequestPending(user.userId) && !isFriend(user.userId) && !receivedFriendRequestPending(user.userId)"
          (click)="sendFriendRequest(user.userId)">person_add_icon</mat-icon>
        <mat-icon *ngIf="isFriend(user.userId)">person</mat-icon>
        <button [disabled]="true" *ngIf="userId !== user.userId && sentFriendRequestPending(user.userId)">Sent</button>
        <button [disabled]="true" *ngIf="userId !== user.userId && receivedFriendRequestPending(user.userId)">Pending</button>
      </span>
    </li>
  </ul>
</span>