<app-nav-bar></app-nav-bar>
<div class="postContainer">
    <div class="grid">
        <div class="postContent">
            <img class="ProfilImg" routerLink="/visitingProfil/{{post.userId}}" src="{{post.user.picture.imageUrl}}" alt="Profile Image">
            <span class="postName"> {{post.user.displayName}} </span>
            <span class="groupPost" *ngIf="post.group != null"
                (click)="goToGroup(post.group.groupId)">{{post.group.groupName}} </span>
            <span class="timeSteamp">{{post.timeStamp | date: 'd/MM/yyyy H:mm'}}</span>
            <div>{{post.content}}</div>
            <div>
                <button (click)="likePost(post)">Like {{likeCounter[0]}}</button>
                <button (click)="dislikePost(post)">Dislike {{dislikeCounter[0]}}</button>
                <button>Comments {{commentCounter[0]}}</button>
            </div>
        </div>
        <div class="commentContainer">
            <form (ngSubmit)="onSubmit()" #myForm="ngForm">
                <textarea autosize placeholder="Comment" type="text" id="content" name="content" #userName="ngModel"
                     [(ngModel)]="comment.content" required>
                </textarea>
                <button style="float: right;" type="submit" mat-raised-button color="primary"
                    [disabled]="myForm.invalid || comment.content.trim() == ''">Create</button>
            </form>
        <div class="comment" *ngFor="let comment of post.comments, let i = index">
                <div>
                    <img class="ProfilImg" routerLink="/visitingProfil/{{comment.userId}}" src="{{comment.user.picture.imageUrl}}"
                        alt="Profile Image">
                    <span>{{comment.user.displayName}} </span>
                    <span>{{comment.timeStamp | date: 'd/MM/yyyy H:mm'}}</span>
                    <div>{{comment.content}}</div>
                    <div>
                        <button (click)="likeComment(comment, i)">Like {{commentLikeCounter[i]}}</button>
                        <button (click)="dislikeComment(comment, i)">Dislike {{commentDislikeCounter[i]}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>