<div class="postContainer">
    <div class="posts" *ngFor="let post of posts; let i = index">
        <div class="postContent">
            <app-post-header [post]="post"></app-post-header>
            <div class="Content">
                <p>
                    {{post.content}}
                </p>
            </div>
            <div class="likeContent">
                <p class="interatctive" (click)="likePost(post, i)"><mat-icon class="icon">thumb_up</mat-icon> Like {{likeCounter[i]}}</p>
                <p class="interatctive" (click)="dislikePost(post, i)"><mat-icon class="icon">thumb_down</mat-icon> Dislike {{dislikeCounter[i]}}</p>
                <p class="interatctive" (click)="goToFullPost(post.postId)"><mat-icon class="icon">comment</mat-icon> Comments {{commentCounter[i]}}</p>
            </div>
        </div>
    </div>
</div>