<div class="postContainer">
    <div class="posts" *ngFor="let post of posts; let i = index">
        <div class="postContent">
            <img class="ProfilImg" src="data:image/png;base64,{{post.user.picture.imageData}}" alt="Profile Image">
            <span class="postName">{{post.user.displayName}}</span>
            <span class="groupPost" (click)="goToGroup(post.group.groupId)">{{post.group.groupName}}</span>
            <span class="timeSteamp">{{post.timeStamp}}</span>
            <div>{{post.content}}</div>
            <div >
                <button (click)="likePost(post, i)">Like    {{likeCounter[i]}}</button>
                <button (click)="dislikePost(post, i)">Dislike {{dislikeCounter[i]}}</button>
                <button (click)="goToFullPost(post.postId)">Comments {{commentCounter[i]}}</button>
            </div>
        </div>
    </div>
</div>