<div class="postContainer">

    <div class="posts" *ngFor="let post of posts; let i = index">
        <app-feed-component [posts]="post" [i]="i"></app-feed-component>
    </div>
</div>


<!-- 
<div class="postContainer">
    <div class="posts" *ngFor="let post of posts; let i = index">
        <div class="postContent">
            <app-post-header [post]="posts"></app-post-header>
            <div class="Content">
                <p>
                    {{posts.content}}
                </p>
            </div>
            <div class="likeContent">
                <p class="interatctive" (click)="likePost(posts, i)"><mat-icon class="icon">thumb_up</mat-icon> Like {{likeCounter[i]}}</p>
                <p class="interatctive" (click)="dislikePost(posts, i)"><mat-icon class="icon">thumb_down</mat-icon> Dislike {{dislikeCounter[i]}}</p>
                <p class="interatctive" (click)="goToFullPost(posts.postId)"><mat-icon class="icon">comment</mat-icon> Comments {{commentCounter[i]}}</p>
            </div>
        </div>
    </div>
</div> -->