.OuterLayer{
}
.InnerLayer{
    display:grid;
    place-items: center;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    */
}


.ProfilPicture{
    margin: 4% auto;
    width: 25vw;
    height: 25vw;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    border: 1px solid black;
    /* position: absolute;
    z-index: 100; */
}

.ProfilPicture:hover{ -webkit-filter: brightness(20%); }

/* .profilPictureEditor{
    position: relative;
}

.profilPictureEdit{
    position: absolute;
    z-index: 1000;
} */