.messagecontainer {
}

.messageList {
    height: fit-content;
    margin: 5px;
    /* display: flex; */
    flex-direction: column-reverse;
}

.users {
    float: right;
    width: 52.5%;
    display: flex;
}
.users > div > img{
    float: right;
}

.usersMessages {
    background-color: rgb(57, 103, 231);
}

.usersMessages {
    border-radius: 5px;
}

.others {
    float: left;
    width: 52.5%;
}

.othersMessages {
    background-color: rgba(81, 98, 143, 0.281);
}

p{
    color: white;
    width: 100%;
    margin: 0;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.othersMessages {
    border-radius: 5px;
}