
<div>
    <div *ngIf="chat != undefined">
        <div class="messageList" *ngFor="let message of chat.messages; let i = index">
            <div
                [ngClass]="{'users': message.user.userId == loggedInUser, 'others': message.user.userId != loggedInUser}">
                <div *ngIf="i === 0 || chat.messages[i - 1].user.displayName !== message.user.displayName">
                    {{message.user.displayName}}</div>
                <li [ngClass]="getMessageClasses(message, i)">
                    {{message.content}} {{i}} {{message.userId}}
                </li>
            </div>
        </div>
    </div>
</div>