.messagecontainer {
}

.messageList {
    height: fit-content;
    margin: 5px;
}

.messageContent{
    display: grid;
    grid-template-columns: 90% 1000px;
}

.users {
    float: right;
    /* width: 52.5%; */
    /* display: flex; */
}
.users > div > img{
    float: right;
}

.ProfilImg{
    margin-top: 20px;
}

.usersMessages {
    background-color: rgb(57, 103, 231);
}

.usersMessages {
    border-radius: 15px;
    margin-right: 45px;
}

.others {
    float: left;
    width: 52.5%;
}

.othersMessages {
    background-color: rgba(81, 98, 143, 0.281);
}

p{
    color: white;
    width: 100%;
    margin: 0;
    padding: 10px;
}

.othersMessages {
    border-radius: 5px;
}

.usersMessages.firstMessage {
    /* border-top-left-radius: 10px; */
    border-top-right-radius: 10px;
}

.usersMessages.lastMessage {
    display: flex;
    margin-right: 0px;
    /* border-bottom-left-radius: 10px; */
    border-bottom-right-radius: 0px;
}

.usersMessages.onlyMessage {
    border-radius: 10px;
}