<app-nav-bar></app-nav-bar>
<button *ngIf="!friends">Follow</button>
<button *ngIf="!friends">Unfollow</button>
<button>Block</button>
<button>Unblock</button>
<button *ngIf="friends">Unfriend</button>

<div>
    hejsa
</div>

<!-- <div class="profil">
    <div class="reklame">
    </div>
    <div class="profilFeed">
        <div class="postContainer">
            <div class="posts" *ngFor="let post of posts; let i = index">
                <div class="postContent">
                    <img class="ProfilImg" src="{{post.user.picture.imageUrl}}" alt="Profile Image">
                    <span class="postName">{{post.user.displayName}}</span>
                    <span class="groupPost" (click)="goToGroup(post.group.groupId)">{{post.group.groupName}}</span>
                    <span class="timeSteamp">{{post.timeStamp | date: 'medium'}}</span>
                    <div>{{post.content}}</div>
                    <div >
                        <button>Like    {{likeCounter[i]}}</button>
                        <button>Dislike {{dislikeCounter[i]}}</button>
                        <button (click)="goToFullPost(post.postId)">Comments {{commentCounter[i]}}</button>
                    </div>
                </div>
            </div>
        </div>        
    </div>
    <div class="friends">
    
    </div>
</div> -->