.requestContainer{
    width: 40vw;
    margin-left: auto;
    margin-right: auto;
}

.requestHeader{
    display: flex;
    margin-left: 10px;
    height: 100%;
    align-content: center;
    margin-top: 4px;
}
.requestHeader > b{
    margin-right: 5px;
}

p{
    margin: 0px;
}

.requests{
    outline: 2px solid black;
    margin: 13px;
}

.Content{
    margin: 5px 1%;
    border: 2px rgba(0, 0, 0, 0.5) solid;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.Content > p:hover{
    font-weight: bold;
    cursor: pointer;
    text-decoration: underline;
}

.ProfilImg{
    margin-right: 15px;
    width: 4vw;
    height: 4vw;
    cursor: pointer;
}

.Accept{
    background-color: rgb(0, 185, 0);
    color: white;
    outline: solid black 1px;
    margin: 1px;
    height: 36px;
    width: 36px;
    font-size: 36px;
}
.Accept:hover{
    background-color: rgb(1, 129, 1);
    cursor: pointer;
}

.Decline{
    background-color: red;
    color: white;
    outline: solid black 1px;
    margin: 1px;
    height: 36px;
    width: 36px;
    font-size: 36px;
}
.Decline:hover{
    background-color: rgb(189, 0, 0);
    cursor: pointer;
}

.NoContent {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .changeFeedButtons{
    width: 100%;
    display: flex;
    justify-content: center;
}

.changeFeedButtons > button{
    margin: 10px 3%;
    width: 12.75%;
    height: 30px;
}

.picked{
    background-Color: rgb(73, 138, 235);
    border: 1px solid black;
    height: 19px;
    border-radius: 3px;
}

.divider{
    width: 55%;
    margin: auto;
}

.cancel-button{
    height: 30px;
    padding: 5px;
    cursor: pointer;
}